@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
/* heading-part */
.hedding{
    height: 600px;
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-column-gap: 102px;
    justify-content: center;
    align-items: center;

}
/* .half-width{
    width: 70%;
   
} */
.text-part h1{
    font-size: 64px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    transition: transform 1s;
    
}
.button{
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: #E02C6D;
    padding:10px 24px;
    
}
.banner img{
    width: 556.01px;
    height: 438px;
    transition: transform .5s;
}
.banner img:hover{
    transform: translateY(-50px);
}
.text-part h1:hover {
    transform: scale(0.7) translate(50%, -50%);
}
/* --------------
players section
----------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    justify-content: center;
    margin-top: 70px;   
}


.about-player {
    width: 330px;
    height: 456px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.bio{
    margin: 15px;
}


/*//////////
/extra 
////////// */
.middle-part-area{
    display: grid;
    grid-template-columns: repeat(2, 470px);
    grid-column-gap: 66px;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
}
.text h2{
    font-size: 48px;
    line-height: 30px;
    font-weight: 700;
}
.pic img{
    width: 567px;
    height: 427px;
}
/* middle extra */
.my-part{
    display: grid;
    grid-template-columns: repeat(2, 470px);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    grid-column-gap: 100px;
}
.extra-part img{
    width: 600px;
    height: 500px;
}
.extra-part h2{
    font-size: 40px;
    font-weight: bold;
}
/* bottom-part */

/* -------------- */
footer{
    margin-top: 158px;
}

.logo-pic img{
    width: 483.87px;
    height: 110px;   
}
.logo-pic{
    text-align: center;
}
.font-awesome{
    text-align: center;
   
}
.font-awesome a .fab{
    color: #969BAB;
    margin: 3px;
    padding: 5px;
    border: 1px solid #E7E7E8;
    background-color: #E7E7E8;
    border-radius: 50%;
}
/* ---------------
--------------------
----------------------- */
/* --------------
    media Queries
---------------- */
@media screen and (max-width:688px) {
    .hedding, .players, .my-part, .middle-part-area{
        grid-template-columns: repeat(1, 330px);
        grid-row-gap: 30px;
    }
    
    
    .hedding{
        width: 411px;
        height: 695px;
        background-color: #2D25A0;
    }
    .text-part h1{
        font-size: 36px;
        line-height: 40px;
        font-weight: bold;
        color: white;}
    .banner img{
        width: 329px;
        height: 259px;
        }
    .text h2{
        font-size: 30px;
        line-height: 40px;
    } 
    .middle-part img{
        width: 328px;
        height: 248px;
    }  
    .extra-part img{
        width: 328px;
        height: 248px;
    }
    .extra-part h2{
        font-size: 30px;
        line-height: 40px;
    }

    .logo-pic img{
        width: 275px;
        height: 70px;
        
    }
    


    
}
